
// Variables
@import 'variables';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.logo {
    img {
        max-width:150px;
    }

    text-align:center;
    padding:30px;
}
h1 {
    font-weight:bold;
}
@include bp-netbook {
    .tl-r {
        text-align:right;
    }
}
.content {
    background:#f5f5f5;
    text-align:center;
    padding:30px;
    min-height:83vh;

    @include bp-phone-xl {
        padding:30px 10px;
    }

    p.description {
        display: block;
        margin: 10px auto;
        max-width: 660px;
        font-size: 18px;
    }
    
    .cover {
        max-width:320px;
        margin:20px auto;

        @include bp-phone-xl {
            max-width:250px;
        }
    }

    .content-blocks {
        display:flex;
        justify-content: space-between;

        @include bp-phone-xl {
            display:block;
        }

        .block {
            flex-basis:40%;
        }
    }

    .form-block {
        padding-top:45px;
        flex-basis:58% !important;

        @include bp-phone-xl {
            padding-top:25px;
        }
    }

    form {
        display:block;
        max-width:400px;
        margin:20px auto;
        text-align:left;

        label {
            font-weight:600;
            font-size:16px;
            margin-top:15px;
            display:block;
            cursor:pointer;
        }
    }

    small {
        display:block;
        max-width:400px;
        margin:10px auto;
        font-size:14px;
        text-align:center;
        font-style:italic;
    }
}
.alert {
    font-size:15px;
    max-width:750px;
    margin:10px auto;
}
.cta-btn {
    background:#006281;
    border-bottom:4px solid #034f67;
    color:#fff;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    display:block;
    max-width:400px;
    margin:20px auto;
    padding: 10px 20px;

    &:hover {
        color:#fff;
        opacity:0.9;
    }
}